<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <%- include('common/header')%>
    <h1>Profile Page</h1>
    <h2>Welcome <%= user.name %></h2>
    <h2>Email: <%= user.email %></h2>
    <h2>City: <%= user.city %></h2>
    <h2>Country: <%= user.country %></h2>
    <ul>
        <% user.skills.forEach((item) => { %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>